<p style="color: green"><%= notice %></p>

<div id="recipes">
  <h1>Shopping List</h1>
  <div class="topBoxRecipeList">
    <div class="leftSideRecipeList">
      <p>Amount of food items to buy: </p>
    </div>

    <div class="rightSideRecipeList">
      <p>Total value of food needed: </p>
    </div>
  </div>
  
  <hr class="horizonatalLine">
  <table class="tableRecipeList">
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
    
  </table>
  
  <button class="backToRecipes"><%= link_to "Back to recipes", recipes_path %></button>

  
</div>
