<p style="color: green"><%= notice %></p>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <div class="recipeMainBox">
      <div class="leftSideRecipe">
        <h1><%= recipe.name %></h1>
        <button type="button">REMOVE</button>
      </div>

      <div class="rightSideRecipe">
        <p><%= recipe.description %></p>
      </div>
    </div>
  <% end %>
</div>

