<p style="color: green"><%= notice %></p>
<div class="d-flex justify-content-center" style="margin-bottom: 20px;">
  <%= link_to "Add Food", new_food_path, class:"btn btn-primary" %>
</div>
<div id="foods">
  <% @foods.each do |food| %>
    <%= render food %>
  <% end %>
</div>


